.title h1 {
  font-size: 40px;
}
.title .edit-icon {
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.title:hover .edit-icon {
  opacity: 1;
}
.title .form-control {
  height: 60px;
  font-size: 24px;
}
@media (max-width: 700px) {
  .title h1 {
    font-size: 35px;
  }
  .title .form-control {
    height: 40px;
    font-size: 20px;
  }
}
